*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(slike/pozadina.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header img{
 padding-left: 100px;
 padding-top:32px;
}

.nav{
display:flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}

.nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
  margin-top: -50px;
  font-weight: 300;
  padding-right: 100px;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;  
  font-size: 16px;
}
.nav-links ul li::after{
  content: "";
  width: 0;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%;
}

.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 10px;
  font-size: 14px;
  color: white;
}

.hero-btn{
  display:inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid red;
  background: red;
  transition: 1.5s;
}
nav .fa{
  display:none;
}


@media(max-width: 700px)
{
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: red;
    text-align: left;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    z-index: 2;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;   
}
}

/*-------Ponuda------*/
.ponuda{
  width:80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
} 

.row{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
}

.ponuda-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.ponuda-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) 
{
.row{
  flex-direction: column;
}  
  .ponuda h1{
   font-size: 24px;
  }
  .ponuda p{
    font-size: 13px;
  }
}

/*-------------- VIJESTI --------*/

.vijesti{
  width: 80%;
  margin:auto;
  text-align: center;
  padding-top: 50px;
}

.vijesti-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position:relative;
  overflow: hidden;
}

.vijesti-col img{
  width: 100%;
  display: block;
}
.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background: rgba(100, 144, 240, 0.527);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;

}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

@media(max-width: 700px){
  .vijesti img{
    margin-left: 0px;
    margin-right: 15px;
  }
  .vijesti h3{
    font-size: 17px;
  }
}
/* ---------KAMPUS-------- */

.kampus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.kampus-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
} 
.kampus-col img{
  width: 100%;
  border-radius: 10px;
}

.kampus-col p{
  padding: 0;
}
  .kampus-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }

  /*---------OSVRTI----------*/
  .osvrti{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
  }
  .osvrti-col{
    flex-basis: 44%; 
    border-radius: 10px;
    margin-bottom: 5%;  
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
  }
  .osvrti-col img{
    height: 40px;
    margin-left: 5px; 
    margin-right: 30px;
    border-radius: 50%;
  }

  .osvrti-col p{
    padding: 0;
  }
  .osvrti-col h3{
    margin-top:15px;
    text-align: left;
  }

  .osvrti-col .fa{
    color: firebrick;
  }

  @media(max-width: 700px){
    .osvrti-col img{
      margin-left: 0px;
      margin-right: 15px;
    }
  }

  /* --------ONLINE----------*/
  .onlinekontakt{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgb(0, 0, 0,0.7),rgba(0,0,0,0.7)), url(slike/onlinebanner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0 ;
  }
  .onlinekontakt h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
  }

  @media(max-width: 700px){
    .onlinekontakt h1{
     font-size: 24px;
    }
  }
