* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(slike/pozadina.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header img {
  padding-left: 100px;
  padding-top: 32px;
}

.nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
  margin-top: -50px;
  font-weight: 300;
  padding-right: 100px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 10px;
  font-size: 14px;
  color: white;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid red;
  background: red;
  transition: 1.5s;
}

nav .fa {
  display: none;
}


@media(max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: red;
    text-align: left;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .header img {
    padding-left: 25px;
    padding-top: 8px;
  }
}

/*-------Ponuda------*/
.ponuda {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.ponuda-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.ponuda-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .ponuda h1 {
    font-size: 24px;
  }

  .ponuda p {
    font-size: 13px;
  }
}

/*-------------- VIJESTI --------*/

.vijesti {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.vijesti-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.vijesti-col img {
  width: 100%;
  display: block;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(100, 144, 240, 0.527);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;

}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

@media(max-width: 700px) {
  .vijesti img {
    margin-left: 0px;
    margin-right: 15px;
  }

  .vijesti h3 {
    font-size: 17px;
  }
}

/* ---------KAMPUS-------- */

.kampus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.kampus-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.kampus-col img {
  width: 100%;
  border-radius: 10px;
}

.kampus-col p {
  padding: 0;
}

.kampus-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*---------OSVRTI----------*/
.osvrti {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.osvrti-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.osvrti-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.osvrti-col p {
  padding: 0;
  font-size: 17px;
}

.osvrti-col h3 {
  margin-top: 15px;
  text-align: left;
}

.osvrti-col .fa {
  color: firebrick;
}

@media(max-width: 700px) {
  .osvrti-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* --------ONLINE----------*/
.onlinekontakt {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(slike/onlinebanner.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.onlinekontakt h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width: 700px) {
  .onlinekontakt h1 {
    font-size: 24px;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  padding-bottom: 0px;
  background-color: rgba(128, 128, 128, 0.158);
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: 600;
}

.footer-logos img {
  width: 90px;
  margin: 0 10px;
  opacity: .5;
}

.footer-logos {
  padding: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.icons .fa {
  color: #FF0000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 35px;
  text-decoration: none;
  /* hyperlink crtica na ikonicama*/
}

.icons .fa:hover {
  color: rgba(253, 114, 114, 0.733);
  transition: 1s;
}

.icons .fa-facebook {
  color: #4267B2;
}

.icons .fa-facebook:hover {
  color: rgb(47, 6, 161);
  transition: 1s;
}

.icons .fa-twitter {
  color: #1DA1F2;
}

.icons .fa-twitter:hover {
  color: #197ab6;
  transition: 1s;
}

.icons .fa-instagram {
  color: #E1306C;
}

.icons .fa-instagram:hover {
  color: rgba(192, 49, 97, 0.452);
  transition: 1s;
}

/*--------------SUB-HEADER---------*/
.sub-header img {
  padding-left: 100px;
  padding-top: 32px;
  text-align: left;
}

.sub-header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgb(4, 9, 30)), url(slike/aboutbg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.sub-header h1 {
  text-align: center;
  color: white;
  margin-top: 100px;
}

/*-----------ABOUT----------*/

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
  font-size: 16px;
  font-weight: 500;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: red;
}

.red-btn:hover {
  color: white;
}

@media(max-width: 700px) {
  .sub-header img {
    padding-left: 25px;
    padding-top: 8px;
  }

  .about-col p {
    font-size: 15px;
  }

  .about-col h1 {
    font-size: 25px;
  }
}


/*---------MAIN--------*/
.studiji-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.studiji-left {
  flex-basis: 65%;
}

.studiji-left img {
  width: 100%;
}

.studiji-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.studiji-left p {
  color: #999;
  padding: 0;
}

.studiji-right {
  flex-basis: 32%;
}

.studiji-right h3 {
  background-color: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.studiji-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
  width: 63%;

}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

@media(max-width:700px) {
  .sub-header h1 {
    font-size: 24px;
  }
}

.lokacija {
  width: 80%;
  margin: auto;
  padding: 80px 0;

}

.lokacija iframe {
  width: 100%;
}

.kontakt {
  width: 80%;
  margin: auto;
}

.kontakt-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.kontakt-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.kontakt-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.kontakt-col div p {
  padding: 0;
}

.kontakt-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.kontakt-col input,
.kontakt-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid grey;
  box-sizing: border-box;
}


/* GALERIJA */

.gallery-image {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 500px;
  width: 700px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 500px;
  width: 700px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: white;
  font-size: 20px;
}

.transparent-box {
  height: 500px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption p {
  font-size: 25px;
  color: white;
}

.opacity-low {
  opacity: 0.8;
}
